<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="header-container">
        <div class="logo">
            <img src="/images/BrightOak-logo.png" alt="Logo">
        </div>
        <nav class="nav-menu">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/consultancy">Consultancy</a></li>
                <li><a href="/training">Training</a></li>
                <li><a href="/auditing">Auditing</a></li>
                <li><a href="/our-team">Our Team</a></li>
                <li><a href="/contact-us" class="button">Contact Us</a></li>
            </ul>
        </nav>
    </div>
    <% include('partials/header') %>
        <main>
            <div id="hero">
                <img id="hero_image" src="/images/hero_image.jpg" alt="">
                <h1 id="hero_header">Achieving Brilliance</h1>
            </div>
            <div class="section_1">
                <div class="section_1_text">
                    <p>Consultancy can mean many things to different people. To us, it encapsulates those services we offer aimed at helping resolve specific problems or where specialist knowledge or experience is needed but, for one of many reasons, is
                        not available to our clients in-house.</p>

                    <p>BrightOak has a team dedicated to IT and business process project management and implementation. Our clients have achieved better business outcomes across their enterprises by utilising our experience with IT strategy, design and implementation.</p>
                </div>
                <img class="section_1_image" src="/images/hero_image.jpg" alt="">
            </div>
        </main>
        <script src="/js/scripts.js"></script>
</body>

</html>